[Unit]
Description=Start Autonomous Driving DDS App
After=network.target

[Service]
Type=simple
ExecStart=/home/acrn/new_ak/demo25/scripts/start_autonomous.sh
ExecStop=/home/acrn/new_ak/demo25/scripts/stop_autonomous.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
