[Unit]
Description=Emergency Alert Service - Simple Emergency Popup
After=network.target

[Service]
Type=oneshot
ExecStart=/home/acrn/new_ak/demo25/scripts/start_emergencypopup.sh
ExecStop=/home/acrn/new_ak/demo25/scripts/stop_emergencypopup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target