[Unit]
Description=Start Autonomous Driving DDS App
After=network.target

[Service]
Type=oneshot
ExecStart=/home/acrn/new_ak/demo25/new_demo25/scripts/start_autonomous.sh

[Install]
WantedBy=multi-user.target
